<nav id="navbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 col-12">
        <div id="site-title-container">
          <span id="site-title"><a href="/">{{ site.title }}</a></span>
        </div>
        <div class="navbar-ul-container" style="margin-top: 5px">

          <ul class="navbar-ul float-right">
            <li class="nav-listitem">
              <a href="/explore">Subreddits</a>
            </li>
            <li class="nav-listitem">
              <a href="/emotion">Emotions</a>
            </li>
            <li class="nav-listitem">
              <a href="/download">Download Dataset</a>
            </li>
            <li class="nav-listitem">
              <a href="https://arxiv.org/abs/2308.04020" target="_blank">Paper</a>
            </li>
            <li class="nav-listitem">
              <a href="//huggingface.co" target="_blank">Model Demo</a>
            </li>
            <li class="nav-listitem">
              <a href="http://faculty.ist.psu.edu/suh972" target="_blank">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
